$accent-color: #f50057;
$primary-gray-color: #212121;
$white-color: #fff;
$dark-gray-color: #333;
$black-color: #000;

$font-light-color: $white-color;
$font-accent-color: $accent-color;
$font-dark-color: $dark-gray-color;

$background-light-color: $white-color;
$background-dark-color: $black-color;

$container-max-width: 1200px;
$container-padding: 20px;

$font-large: 20px;

